body {
    background-color: aquamarine;
    color: blueviolet;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.btn-success {
 background-color: lightgreen;
}
.btn-primary {
    background-color: blue;
}